<div class="footer">
	<div class="mar-bolinhas"></div>
	<div class="footer-content">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<h5>Sobre a Dotz</h5>
					<ul>
						<li><a href="#">Saiba mais</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<h5>Ganhe</h5>
					<ul>
						<li><a href="#">Saiba mais</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<h5>Troque</h5>
					<ul>
						<li><a href="#">Saiba mais</a></li>
					</ul>
				</div>
				<div class="col-md-3 aplicativos">
					<h5>Aplicativos Dotz</h5>
	
					<p>
						<a href="https://apps.apple.com/br/app/conta-dotz/id1446442555" target="_blank">
							<img src="../../../assets/app_apple.png" alt="Apple APP">
						</a>
					</p>
					<p>
						<a href="https://play.google.com/store/apps/details?id=br.com.dotz.dotzpay" target="_blank">
							<img src="../../../assets/app_google.png" alt="Google APP">
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>