<div class="footer">
	<div class="mar-bolinhas"></div>
	<div class="footer-content">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<h5>Sobre a Dotz</h5>
					<ul>
						<li><a href="/sobre">Saiba mais</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<h5>Ganhe</h5>
					<ul>
						<li><a href="https://ganheonline.dotz.com.br" target="_blank">Ganhe Dotz Online</a></li>
						<li><a href="https://www.dotz.com.br/Parceiros.aspx" target="_blank">Ganhe Dotz Lojas Físicas</a></li>
						<li><a href="https://www.dotz.com.br/bancos" target="_blank">Ganhe Dotz com Cartão do seu Banco</a></li>
					</ul>
				</div>
				<div class="col-md-2">
					<h5>Troque</h5>
					<ul>
						<li><a href="/produtos">Produtos</a></li>
					</ul>
				</div>
				<div class="col-md-3 aplicativos">
					<h5>Aplicativos Dotz</h5>
	
					<p>
						<a href="https://apps.apple.com/br/app/conta-dotz/id1446442555" target="_blank">
							<img src="../../../assets/app_apple.png" alt="Apple APP">
						</a>
					</p>
					<p>
						<a href="https://play.google.com/store/apps/details?id=br.com.dotz.dotzpay" target="_blank">
							<img src="../../../assets/app_google.png" alt="Google APP">
						</a>
					</p>
				</div>
			</div>

			<div class="sociais">
				<div class="copyrights">
					<img src="../../../assets/logo_dotz.png" alt="">
					<p>@ 2021 Dotz. Todos os direitos reservados</p>
				</div>

				<div class="redes">
					<ul>
						<li><a href="https://www.facebook.com/dotzoficial" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
						<li><a href="https://www.instagram.com/programa_dotz/?hl=pt-br" target="_blank"><i class="fab fa-instagram"></i></a></li>
						<li><a href="https://twitter.com/programa_dotz" target="_blank"><i class="fab fa-twitter"></i></a></li>
						<li><a href="https://www.youtube.com/user/dotzuser" target="_blank"><i class="fab fa-youtube"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>