<!-- <div class="banner home-dotz"></div> -->

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		<!-- <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> -->
	</ol>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<a href="/sobre">
				<img src="../../../assets/banner_sobre.png" class="d-block w-100" alt="Sobre a Dotz">
			</a>
		</div>
		<div class="carousel-item">
			<a href="/produtos">
				<img src="../../../assets/banner_produtos.png" class="d-block w-100" alt="Troque DOTZ por produtos">
			</a>
		</div>
		<!-- <div class="carousel-item">
			<img src="../../../assets/banner_produtos_3.png" class="d-block w-100" alt="...">
		</div> -->
	</div>
	<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

<div class="home">
	<div class="container">
		<h2>Lorem Ipsum</h2>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in blandit ipsum, non imperdiet ex. Nullam id metus libero. Vestibulum nec turpis id lorem pulvinar dictum at eu nibh. Donec sit amet erat eros. Sed lacinia mauris quis hendrerit mattis. Ut sit amet tincidunt mauris, ac bibendum lacus. Sed pellentesque, sem et feugiat pharetra, metus felis varius elit, blandit placerat nibh purus vitae sem. Donec dictum ex sed odio imperdiet commodo.</p>
		
		<p>Nunc vestibulum risus in laoreet semper. Duis commodo tellus sit amet odio aliquet euismod. Aenean mattis interdum aliquam. Pellentesque vitae dolor sem. Aenean non pulvinar dui. Duis pellentesque ligula non porta imperdiet. Nullam turpis metus, tempor eget facilisis non, vestibulum vel nulla. In lobortis ultrices mauris, eget molestie diam pretium at. Fusce tempus tellus orci, id feugiat neque faucibus vel.</p>
	
		<h2>Lorem Ipsum</h2>
		
		<p>Aenean molestie pretium risus vel posuere. Fusce ultrices sed ipsum eget pharetra. Sed maximus, ligula id mattis hendrerit, felis felis pulvinar sapien, eget volutpat odio urna ut metus. Nam tristique tincidunt lobortis. Nullam faucibus lectus purus, a mattis ipsum consequat sed. Vestibulum viverra mi eu neque aliquam tempus. Vestibulum mattis auctor lectus non lacinia. Phasellus vel ultricies urna.</p>
	
		<p>Sed ultricies tortor vel justo consequat vestibulum. Nam at felis tincidunt, dictum est id, auctor dui. Ut et tortor non arcu pellentesque malesuada. Integer elementum accumsan eros sed malesuada. Suspendisse potenti. Ut sed massa ipsum. Curabitur commodo vitae dolor eu pulvinar. Morbi tempus aliquam enim ac semper. Sed urna purus, blandit vehicula sagittis eu, faucibus sed turpis. Vestibulum aliquet, lorem ac bibendum dapibus, nunc nulla aliquam nunc, vel hendrerit erat arcu eget sem. Maecenas bibendum in ipsum a accumsan. Integer elementum quam nec ex convallis congue. Nulla mauris ante, elementum ut mollis vitae, ornare sit amet erat. Etiam tristique, turpis in dictum vehicula, eros sem sagittis est, et vulputate urna enim in metus. Vivamus id ipsum tristique, posuere ipsum non, malesuada diam. Quisque accumsan tristique pharetra.</p>
	
		<h2>Lorem Ipsum</h2>
		
		<p>Nulla ac volutpat lectus. Nullam posuere libero tellus, ac mattis magna elementum nec. Quisque a finibus tellus. Sed a varius nisl, ac gravida leo. In ultricies, mi a faucibus semper, urna risus hendrerit risus, nec porttitor magna sem id ante. Integer at nisl libero. Donec fringilla nisl quis blandit pharetra. Mauris posuere enim at eros sodales mattis at ac nisl. Etiam lacinia maximus nibh, eget gravida sapien molestie mattis. Aenean vel ante eget nisl finibus bibendum. Vivamus non iaculis ex. Maecenas vehicula id risus in imperdiet. Sed vestibulum ipsum eget mauris rhoncus, in volutpat orci volutpat. Ut eget scelerisque sem. Suspendisse potenti. Aenean vitae lectus at metus accumsan vulputate sed at nunc.</p>
	</div>
</div>