<div class="carrinho">
	<div class="container">
		<h2>Carrinho</h2>

		<div class="" *ngIf="items.length else elseBlock">
			<div class="dados-carrinho">
				<p class="top-text">Seu carrinho:</p>

				<div class="table">
					<div class="thead row">
						<div class="col-6">Produto</div>
						<div class="col-6">Preço</div>
					</div>
					<div class="tbody">
						<div class="trow row" *ngFor="let item of items">
							<div class="col-6">{{ item.name }}</div>
							<div class="col-6 d-flex align-items-center"><strong><span>D\</span> {{ item.price }}</strong></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<ng-template #elseBlock>
			<div class="carrinho-vazio">
				<h3>Sem itens no seu carrinho</h3>
	
				<p>Acesso os produtos para poder adicionar algum item ao carrinho.</p>

				<a href="/produtos" class="btn-voltar">Voltar para produtos</a>
			</div>
		</ng-template>
	</div>
</div>