<div class="banner about-dotz">
	<div class="container">
		<h1>Dotz</h1>
		<h2>É a sua moeda para a <br> vida render mais.</h2>
		<h3>São diversos benefícios <br> para você aproveitar!</h3>
	</div>
</div>

<div class="about-content">
	<div class="container">

		<div class="about-paragrafo">
			<h2>O que é?</h2>
			<p>É uma união de empresas com o objetivo de recompensar os seus clientes através de uma moeda que pode ser trocada por produto ou serviços.</p>
		</div>
	
		<div class="about-paragrafo">
			<h2>Como acumular?</h2>
			<p>Para acumular estes pontos o usuário precisa estar cadastrado neste programa e fazer compras nas empresas que são parceiros do programa. Sendo assim é possivel acumular em lojas físicas parceiras, tanto no posto de gasolina quanto na farmácia ou pela internet em nossos parceiros online, e tudo isso em uma mesma conta.</p>
		</div>
		
		<div class="about-paragrafo">
			<h2>O faço com os pontos?</h2>
			<p>Com estes pontos acumulados o usuário pode trocar por produtos no site do programa, que estão divididos em várias categorias (CDs, DVDs, Livros, Viagem, etc) e dentro das categorias em subcategorias, esta troca é tratada e entregue pela própria DOTZ.</p>
		</div>
	</div>
</div>