<div *ngIf="product else elseBlock" class="produto-detalhe">
	<div class="container">
		<h3>{{ product.name }}</h3>
		<h4>Código do produto: {{ product.id }}</h4>

		<div class="row">
			<div class="col-md-4">
				<div class="produto-imagem">
					<figure class="imagem">
						<img [src]="product.image" [alt]="product.name">
					</figure>
				</div>
			</div>
			<div class="col-md-8">
				<div class="produto-dados">
					<p class="troqueDZ">Troque seus Dotz</p>
					<h5>Por <span>D\</span> {{ product.price }}</h5>
					<p class="categoria">{{ product.description }}</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit quam quis sodales rutrum. Nunc risus ex, placerat id tempor et, euismod fermentum metus. Suspendisse ornare, justo sed posuere vulputate, ante nibh tempus nibh, et aliquam lacus mi et purus.</p>

					<button class="btn-trocar">Trocar</button>
				</div>
			</div>
		</div>

		<div class="info">
			<h2>Informações Importantes</h2>

			<div class="row">
				<div class="col-md-4">
					<h1>Preços e disponibilidades</h1>
					<p>Os produtos do Catálogo Dotz estão sujeitos a disponibilidade e a mudança de preço sem aviso prévio. Atenção: o valor em dotz a ser cobrado será o informado na página de confirmação do pedido.</p>
				</div>
				<div class="col-md-4">
					<h1>Rastreabilidade</h1>
					<p>Fique atento em relação ao prazo de entrega. Após 90 dias da data da troca,as ocorrências referentes ao pedido não poderão ser analisadas, por impossibilidade de rastreamento da entrega junto aos nossos parceiros logísticos e fornecedores.</p>
				</div>
				<div class="col-md-4">
					<h1>Pedidos errados ou com defeitos</h1>
					<p>Se você recebeu um produto que não solicitou ou o item recebido apresenta alguma avaria, atenção: a Equipe Dotz deverá ser notificada em até 72h após o recebimento. Para que a troca seja efetuada, o produto com defeito não pode ter sido utilizado.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #elseBlock>
	<div class="produto-detalhe produto-detalhe-erro">
		<div class="container">
			<h3>Produto não encontrado</h3>

			<p>Pode ser que o produto que você esteja procurando não esteja mais disponível.</p>
			<p>Que tal retornar aos produtos e continuar procurando? Temos diversos produtos para você trocar por Dotz.</p>

			<a href="/produtos" class="btn-voltar">Voltar para produtos</a>
		</div>
	</div>
</ng-template>