.paginacao {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    .pagination {
        @media screen and (max-width: 767px) {
            flex-flow: wrap;
            justify-content: center;
        }
    
        .page-item {
            .page-link {
                cursor: pointer;
                font-family: 'Hurme', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: bold;
                color: $blue-2;
                border-color: $blue-2;
                
                @media screen and (max-width: 767px) {
                    font-size: 12px;
                }
            }

            &.disabled {
                .page-link {
                    opacity: 0.7;
                }
            }

            &.active, &:hover {
                .page-link {
                    color: $yellow-2;
                    background-color: $blue-2;
                    border-color: $white;
                    border-top: 1px solid $blue-2;
                    border-bottom: 1px solid $blue-2;
                }
            }
        }
    }
}