/*
** Azul
*/
$blue-1: #002157;
$blue-2: #004191;
$blue0: #00458c;
$blue1: #0072bc;
$blue2: #00a1e4;

/*
** Laranja #fbbc21
*/
$orange-2: #f58220;
$orange-1: #f7941d;
$orange-0: #fbbc21;
$orange0: #fdb913;
$orange1: #ffd64f;

/*
** Amarelo
*/
$yellow-1: #ddc242;
$yellow-2: #FFD201;
$yellow0: #f8df68;
$yellow1: #ffed95;
$yellow2: #FFBA00;
$yellow3: #fbbc21;

/*
** Cinza
*/
$gray0: #241d1b;
$gray1: #656868;
$gray2: #b6baaf;
$gray3: #e3e6e0;
$gray4: #f2f1f1;

/*
** Vermelho
*/
$red: #ed1a3b;

/*
** Verde
*/
$green: #a5cf4c;

$white: #FFFFFF;
$black: #000000;